{% extends 'base.html' %}

{% block container %}

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for code, item in departures.items %}

                <li class="nav-item {% if departure_code == code%}active{% endif %}">
                    <a class="nav-link" href="/departure/{{ code }}/">{{ item }} </a>
                </li>

            {% endfor %}
        </ul>
      </div>
    </nav>


    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{ departure_city }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours_number }}</span> туров, от <span data-test="pricemin">{{ min_price }}</span> до <span data-test="pricemax">{{ max_price }}</span> и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span data-test="nightsmax">{{ max_nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
        {% for idx, tour in tours.items %}

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.title }}</h5>
             <p class="card-text">{{ tour.description }}</p>
                <a href="/tour/{{ idx }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}